<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dbl.link</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.green-orange.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<div class="layout mdl-layout mdl-js-layout">

    <main class="content mdl-layout__content mdl-color-text--grey-600">
        <div class="container">
            {{#> content-block}}{{/content-block}}
        </div>
    </main>

    {{#> footer-block}} 
    <footer class="footer mdl-mini-footer">    
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">dbl.link</div>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="http://instagram.com/eashigaev">Contact</a></li>
                </ul>
            </div>
    </footer>
    {{/footer-block}}

    <div class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>

</div>

<script defer src="//code.getmdl.io/1.1.3/material.min.js"></script>
<script defer src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script defer src="//cdnjs.cloudflare.com/ajax/libs/ramda/0.25.0/ramda.min.js"></script>
<script defer src="/scripts.js"></script>
</body>
</html>