{{#> layouts/main name=user.name }}

    {{#*inline "content-block"}}
        <h3>404 Not Found</h3>
        <button onclick="javascript:history.back()" 
                class="mdl-button mdl-js-button mdl-button--raised">
            Back
        </button>
    {{/inline}}

{{/layouts/main}}