{{#> layouts/main name=user.name }}

    {{#*inline "content-block"}}

            <h3 class="name item">
                {{user.profile.title}}
            </h3>

            <div class="item">
                <form class="follow-form">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="input">
                        <label class="mdl-textfield__label" for="input">Paste url from instagram, twitter, etc</label>
                    </div>
                </form>
                <input id="name" type="hidden" name="name" value="{{user.name}}">
            </div>
            <div class="item">
                <button class="follow-button mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                    Follow
                </button>
            </div>

            <div class="item or">
                OR
            </div>
            
            <div class="item">
                <a href="{{user.profile.url}}" 
                        class="mdl-button mdl-js-button mdl-button--raised">
                    Follow main URL
                </a>
            </div>

    {{/inline}}

{{/layouts/main}}