html, body {
    height: 100%;
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    margin-bottom: 0;
}

.or {
    margin: 15px 0;
}

@media(max-height: 450px) {
    .footer{
        display: none;
    }
}